*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width:1400px;
    margin:auto;
}
/* Définition de variables pour les différentes couleurs utilisées */
:root{
    --violet:#7C277D;
    --orange:#F47A20;
    --orange2:#F9A01B;
    --orange3:#FCB420;
    --orange4:#F7901E;
}

/* Header du site */
header{
    width:100%;
    height:60px;
    background-color:var(--orange2);
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding:0px 15px 0px 15px;
}
header a{
    text-decoration: none;
    color:white;
    height:60px;
    display:flex;
    align-items: center;
    padding:0px 5px 0px 5px;
    cursor:pointer;
}
.items{
    width:60%;
    display:flex;
    justify-content: space-between;

}
.items > a:hover{
    background-color:var(--orange3);
}
.iconemenu, .iconemenuc{
    display:none;
    width:20px;
    height:20px;
}

/* Page d'accueil */
.contenuaccueil{
    text-align: center;
}
.banniereaccueil{
    height:30vh;
    background-image: url('../img/banniereaccueil.jpg');
    background-size:cover;
    position: relative;
    background-position: center;
}
.bouton{
    background-color:var(--orange2);
    padding:10px;
    border-radius:10px;
    color:white;
}
.voirplus{
    width:fit-content;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:25px;
    padding:7px 30px 7px 30px;
}
.contenuaccueil > h1{
    font-family: 'Dancing Script', cursive;
    text-align:center;
    font-weight: bold;
    position: relative;
    width:fit-content;
    margin:auto;
    font-size:4rem;
    padding-top:20px;
    margin-bottom:40px;
}
.contenuaccueil > h1:after{
    content: "";
    position: absolute;
    width: 102%;
    height: 2px;
    bottom: 10px;
    left:-1%;
    border-bottom: 7px solid var(--orange2);
    z-index:-2;
}
.cartes{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.carte{
    position:relative;
    width:25%;
    height:200px;
    background-color:red;
    background-image:url("https://resize.prod.docfr.doc-media.fr/img/var/doctissimo/storage/images/media/images/harcelement-moral-travail-wd-510/4646522-1-fre-FR/harcelement-moral-travail-wd-510.jpg");
    background-size:cover;
}
.carte:hover > a > .masque{
    position:absolute;
    width:100%;
    height:100%;
    background-color: var(--violet);
    opacity: 0.8;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}
.carte > a > .masque > p{
    display:none;
    color:white;
    font-size:1.5rem;
}
.carte:hover > a > .masque > p{
    display:block;
}
.but{
    padding-top:50px;
}
.but > h1,.agir > h1{
    color:var(--orange);
    text-transform: uppercase;
    padding-bottom:30px;
}
.but > p{
    text-indent: 50px;
    text-align: justify;
    padding-bottom:30px;
    line-height: 1.5;
    padding-left:20px;
    padding-right:20px;
}
.but > p > span{
    position:relative;
}
.but > p > span:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -2px;
    left:0;
    border-bottom: 5px solid var(--orange2);
    z-index:-2;
}
.agir{
    padding-bottom:250px;
}
.descagir{
    display:flex;
}
.descagir > p{
    width:60%;
    padding-left:20px;
    padding-right:80px;
    text-align: justify;
    text-indent: 50px;
    border-right:4px solid black;
}
.agircontact{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.agircontact > a{
    text-decoration: none;
    width:40%;
}
.agircontact > h3{
    padding-bottom:30px;
    text-transform: uppercase;
    width:50%;
}

/* Popup inscription - connexion */
.inscription, .connexion{
    position:fixed;
    background-color : rgba(0,0,0,0.90);
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;

}

.modale{
    position:absolute;
    width:50%;
    height:fit-content;
    padding-bottom:20px;
    background-color: var(--orange2);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;

}
.modale > p{
    color:white;
    text-transform: uppercase;
    padding-top:20px;
    width:85%;
    text-align: center;
    margin:auto;
    font-weight:bold;
    line-height:1.5;
    padding-bottom: 25px;
}
.ligne1{
    display:flex;
    width:85%;
    margin:auto;
    padding-bottom:20px;
}
.identifiant, .mdpconnexion{
    display: flex;
    flex-direction: column;
    width:50%;
    padding-left:15px;
    padding-right:15px;
}
.ligne1 > div > input{
    width:100%;
    border-radius:25px;
    border:0;
    padding:10px;
}
.ligne1 > div > label, .datenaissance > label, .ligne2 > label, .ligne3 > div >label{
    color:white;
    padding-bottom: 15px;
}
.identifiant > input{
    width:100%;
    border-radius:25px;
    border:0;
    padding:10px;
}
.identifiant > a{
    color:white;
    padding-top:10px;
    font-size:0.9rem;
    text-align: center;
    cursor:pointer;
    text-decoration: underline;
}
.datenaissance{
    width:40%;
    display:flex;
    flex-direction: column;
    padding-left:15px;
    padding-right:15px;
}
.choixnaissance{
    display:flex;
    justify-content: space-around;
}
.choixnaissance > input{
    width:30%;
    border-radius:25px;
    border:0;
    padding:10px;
}

.ligne2{
    display:flex;
    flex-direction: column;
    width:85%;
    margin:auto;
    padding-bottom:20px;
    padding-left:15px;
    padding-right:15px;
}

.ligne2 > input{
    width:100%;
    border-radius:25px;
    border:0;
    padding:10px;
}
.ligne3{
    width:85%;
    margin:auto;
    display:flex;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}

.ligne3 > div{
    width:50%;
    display:flex;
    flex-direction: column;
}
.ligne3 > div > input{
    width:100%;
    border-radius:25px;
    border:0;
    padding:10px;
}
.mdp{
    padding-right:15px;
}
.mdp2{
    padding-left:15px;
}

.ligne4{
    width:85%;
    margin:auto;
    display:flex;
    padding-left:15px;
    padding-right:15px;
}
.ligne4 > div {
    width:50%;
    display:flex;
    flex-direction: column;
    transition:all 300ms ease-in-out;
    text-align: center;
}
.ligne4 > div > input {
    width:100%;
    border-radius:25px;
    border:0;
    padding:10px;
    background-color: var(--orange2);
    box-shadow: 1px 1px 12px #555;
    cursor:pointer;
    color:white;
}
.ligne4 > div:nth-child(2):hover {
    transform: scale(1.1);
}
.envoi{
    padding-left:40px;
    padding-right:40px;
}
.boutonfermer{
    position:absolute;
    right:20px;
    top:20px;
    color:white;
    font-size:1.5rem;
    cursor:pointer;
}

/* Contenu page témoignages */
.bannieretemoignages{
    text-align: center;
    height: 18vh;
    position: relative;
    background-image: url(../img/banniere_mapage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:50px;
}
.textebanniere > p{
    font-size:1.4rem!important;
    width:60%;
}
.temoignage{
    display:flex;
}
.partiegauche{
    width:40%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    border-right:5px solid var(--orange2);
    height:50vh;
}
.partiegauche > a{
    text-decoration: none;
}
.partiegauche > p{
    padding-bottom:50px;
}

.partiedroite{
    width:60%;
    padding-left:15px;
}
.filtres{
    display:flex;
}
.filtreviolet{
    height:50px;
    width:20%;
    color:white;
    background-color: var(--violet);
    padding:10px 10px 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    position:relative;
}
.active{
    background-color: #0e2231;
}
.active > .selecteur{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #0e2231;
    transform: rotate(45deg) translate(-50%, 0%);
    left: 47%;
    bottom: -50%;
    z-index: -1;
}
.listeposts{
    display:flex;
    flex-direction: column;
    padding-top:25px;
}
.post{
    display: flex;
    padding:20px;
}
.illustrationpost{
    width:20vw;
    height:auto;
    background-color: red;
    background-image: url("../img/travail.jpg");
    background-size: cover;
    background-position: center;
}
.contenupost{
    padding:15px;
    background-color: lightgray;
    width:100%;
    line-height:1.5;
}
.titrefiltre{
    background-color: var(--violet);
    color:white;
    padding:5px;
    font-size:0.8rem;
    width:fit-content;
}
.datepublication{
    font-style: italic;
    color:grey;
}
.continuerlecture{
    color:var(--violet);
    text-align: right;
    text-decoration: underline;
}

/* Contenu page poster */
.textebannieretemoignages > p{
    font-size:1.2rem!important;
    width:80%;
}
.descriptionposter{
    text-align: center;
}
.descriptionposter > p{
    font-size:1rem;
    width:80%;
    margin:auto;
}
.formposter{
    padding-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formposter > form{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formposter > form > textarea{
    width:100%;
    height: 20vh;
    border-radius: 25px;
    resize:none;
    padding:15px;
}
.envoitemoignage{
    border-radius: 25px;
    border:0;
    margin-top:30px;
    width:40%;
}


@media screen and (max-width: 500px){
    header{
        position: fixed;
        z-index: 100;
    }
    .contenuaccueil, .contenutemoignages, .contenuposter{
        padding-top:60px;
    }
    .items{
        flex-direction: column;
        position:fixed;
        top:60px;
        left:0px;
        background-color:var(--orange2);
        z-index: 100;
        width:100vw;
        align-items: center;
        height:0;
        transition:0.7s;
        overflow: hidden;
        justify-content: center;
    }
    .items > a{
        padding-bottom: 90px;
    }
    .items > a >p{
        font-size:1.6rem;
    }
    .iconemenu{
        display:block;
    }
    .contenuaccueil > h1{
        font-size:2.9rem;
    }
    .contenuaccueil > h1:after{
        bottom:0px;
    }
    .contenuaccueil{
        width:100vw!important;
    }
    .cartes{
        flex-direction:column;
        align-items: center;
    }
    .carte{
        width:80%;
    }
    .carte:nth-child(1), .carte:nth-child(2){
        margin-bottom: 25px;
    }
    .carte > a > .masque{
        position:absolute;
        width:100%;
        height:100%;
        background-color: var(--violet);
        opacity: 0.8;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .carte > a > .masque > p{
        display:block;
    }

    .descagir{
        display:block;
    }
    .descagir > p{
        width:90%;
        border-right:none;
        padding: 0;
        margin: auto;
    }
    .agircontact{
        align-items: center;
        justify-content: center;
        padding-top:25px;
        margin:auto;
        width:90%;
        flex-direction: row;
    }
    .agircontact > h3{
        padding:0;
    }

    /* Modale connexion */
    .inscription, .connexion{
        z-index: 1000;
    }
    .modale{
        width:90%;
        height:auto;
    }
    .ligne1{
        flex-direction: column;
    }
    .identifiant, .datenaissance{
        width:100%;
        padding-top: 15px;
    }
    .ligne3{
        align-items: flex-end;
    }
    .ligne4{
        padding:0;
    }
    .envoi{
        padding:0;
        width:80%;
    }
    .mdpconnexion{
        width:100%;
        padding-top:15px;
    }
    .modale > p{
        font-size: 0.8rem;
        width: 74%;
    }
    .ligne4 > div:nth-child(2):hover {
        transform: none;
    }
    .ligne4 > div > p{
        width:95%;
        font-size:0.9rem;
        color: white;
    }

    .textebanniere > p{
        font-size:1rem!important;
        width:90%;
    }
    .textebannieretemoignages > p{
        font-size:0.7rem!important;
        width:90%;
    }
    .descriptionposter > p{
        width:90%;
        font-size:1rem;
    }
    .temoignage{
        flex-direction: column;
    }
    .partiegauche{
        width:80%;
        border-right:0;
        height: max-content;
        margin:auto;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .partiedroite{
        width:100%;
        margin:auto;
        padding:0;
    }
    .filtres{
        flex-direction: column;
    }
    .filtres > div{
        width:90%;
        margin:auto;
    }
    #formtemoignage{
        width:90%;
    }
    #formtemoignage > input{
        width:90%;
    }

}

























































































































































































































































/* Ma page */
.banniere_mapage{
    height: 18vh;
    position: relative;
    background-image: url("../img/banniere_mapage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.couleur_banniere{
    background-color: var(--violet);
    position: absolute;
    opacity: 0.8;
    content: "";
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.couleur_banniere p{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.monprofil{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.infosprofil{
    text-align: center;
    position: relative;
}

.titreinfo{
    color: var(--orange);
    font-weight: bold; 
}

.changementinfo{
    font-size: 12px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}

#changepseudo{
    background-image: url("../img/crayon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 40px;
    top: 0;
    right: 0;
    position: absolute;
}

.info{
    margin-top: 40px;
    margin-bottom: 40px;
}

.infosprofil #supcompte{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.ident{
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.ident::after{
    content: "";
    position: absolute;
    width: 50%;
    bottom: -5px;
    left: 25%;
    border-bottom: 7px solid var(--orange2);
}

.activitesprofil{
    text-align: center;
    text-transform: uppercase;
}

.formchange{
    margin-left: auto;
    margin-right: auto;
    width: 36%;
    margin-top: 20px;
    text-align: center;
}

.elementchangement{
    margin-top: 15px;
    margin-bottom: 15px;
}

.elementchangement label{
    color: var(--orange);
    font-weight: bold;
}

.elementchangement input{
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

.ancien{
    border:none!important;
}

.boutonconf{
    border: none;
    border-radius: 20px;
    background-color: var(--orange2);
    padding: 5px 35px;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttonretour{
    margin-top: 30px;
    display: inline-block;
    background-color: var(--violet);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.carousel_activites{
    margin-top: 30px;
}

.carousel_activites a{
    text-decoration: none;
}

.apercutemoignage{
    width:40%;
    height:100px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: solid 1px var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}

.apercutemoignage:hover{
    background-color: var(--violet);
    color: white;
}

.section_activite{
    margin-bottom: 70px;
}

.titre1{
    position: relative;
}

.titre1::after{
    content: "";
    position: absolute;
    width: 84%;
    bottom: -5px;
    left: 8%;
    border-bottom: 7px solid var(--violet);
}

.titre2{
    position: relative;
}

.titre2::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0%;
    border-bottom: 7px solid var(--violet);
}

.titre3{
    position: relative;
}

.titre3::after{
    content: "";
    position: absolute;
    width: 87%;
    bottom: -5px;
    left: 6.5%;
    border-bottom: 7px solid var(--violet);
}


/* Page contact */
.pagecontact{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.pagecontact div:first-child{
    width: 30%;
}

.pagecontact form{
    display: flex;
    flex-direction: column;
}

.pagecontact input[type='text'], .pagecontact input[type='email']{
    margin-bottom: 60px;
    border: none;
    border-bottom: 3px solid var(--orange);
    width: 60%;
    background-color: transparent;
    position: relative;
}

.pagecontact label{
    font-weight: bold;
}

.pagecontact #label1, .pagecontact #label2{
    position: absolute;
}

.pagecontact #label2{
    margin-top: 80px;
}

.pagecontact textarea{
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 30px;
    resize: none;
    width: 100%;
    height: 140px;
    box-shadow: -1px 2px 5px 1px grey;
}

.pagecontact .labelmsg{
    margin-bottom: 10px;
}

.infosreseaux{
    border-left: 5px solid #F4F4F4;
    padding-left: 50px;
}

.infonumvert{
    margin-top: 50px;
    text-align: center;
    width: 100%!important;
    margin-bottom: 20px;
    color: #00a94f;
    font-size: 20px;
}

.infonumvert p:first-child{
    text-transform: uppercase;
    font-weight: bold;
}

.numerovert{
    border: 2px solid #00a94f;
    border-radius: 18px;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.reseaux{
    margin-top: 60px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.reseausociaux{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    .pagecontact{
        display: inline-block;
        margin-top: 50px;
    }

    .pagecontact div:first-child{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .pagecontact input[type='text'], .pagecontact input[type='email']{
        margin-bottom: 50px;
    }

    .pagecontact #label2{
        margin-top: 48px;
    }

    .pagecontact #label1{
        margin-top: -22px;
    }

    .boutonconf{
        margin-top: 0;
    }

    .infosreseaux{
        border-left: none;
        padding-left: 0;
        margin-top: 20px;
    }

}